<header id="commonHeader">
<section id="flowsHead" class="wf-mplus1p">あなたにあったカラオケの曲が1分でわかる</section>
<section id="flows" class="wf-mplus1p">曲診断</section>
</header>

<div id="wrapper">
   <div class="sense">
        <article id="pageBody">

            <div class="point_box">
            <div class="box">
            <div class="txt">
            <p>1分だけ下記の質問に答えてみてください。あなたにぴったりの曲がわかります!</p>
            </div>
            </div>
            </div>


            <ul class="qalist wf-mplus1p">

            <li id="1" class="question">
                <a name="#1"></a>
                <div class="qbox"><span  class="q">Q.</span>あなたは男性ですか？</div>
                <div class="qabox">
                    <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
                <li id="2" class="question">
                <a name="#2"></a>
                <div class="qbox"><span  class="q">Q.</span>カラオケ終盤ですか？</div>
                <div class="qabox">
                    <a href="#11" onclick="show(11)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#12" onclick="show(12)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
                <li id="11" class="question">
                <a name="#11"></a>
                <div class="qbox"><span  class="q">Q.</span>盛り上がってますか？</div>
                <div class="qabox">
                    <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
                
                <li id="103" class="question">
                <a name="#103"></a>
                <div class="qbox"><span  class="q">Q.</span>高得点取りたいですか？</div>
                <div class="qabox">
                    <a href="#61" onclick="show(61)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#71" onclick="show(71)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
                <li id="104" class="question">
                <a name="#104"></a>
                <div class="qbox"><span  class="q">Q.</span>高得点取りたいですか？</div>
                <div class="qabox">
                    <a href="#81" onclick="show(81)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#91" onclick="show(91)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
                <li id="105" class="question">
                <a name="#105"></a>
                <div class="qbox"><span  class="q">Q.</span>高得点取りたいですか？</div>
                <div class="qabox">
                    <a href="#111" onclick="show(111)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#121" onclick="show(121)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
            
            <li id="71" class="question">
                <a name="#71"></a>
                <div class="qbox"><span  class="q">Q.</span>泣きたいですか？</div>
                <div class="qabox">
                    <a href="#1010" onclick="show(1010)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                    <a href="#1011" onclick="show(1011)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                </div>
            </li>
            
            </ul>
            <div class="answerList">

                <div id="101" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">『〇〇〇〇』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明会文「タイトル」</p>
<p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="102" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">『〇〇』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="103" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">『〇〇』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
 <p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                     <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                     </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                            <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p><a href="#" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>
                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧める〇〇は<span class="fs-18"><span class="bg-y">説明文「タイトル」</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
<p>詳細を記載</p>
                    </div>
                    </div>
                </div>



        </article>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
   $('a[href^=#]').click(function() {
      var speed = 600;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
});
$(function(){
    h = $(window).height();
    h = h-30;
    $(".question").css("min-height", h + "px");
    $(".answerList .box").css("min-height", h + "px");
    
});
function show(idName){ 
    $("#" + idName).show();
}

</script>


</body>
</html>



