
  <head>
<link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="container"> 
  <div class="itemA">
     <div class="inner-box">
     <p>"歌った曲、忘れない。カラオケの思い出を一瞬でツイート！"</p>
     </div>
  </div>
    <div class="itemB">areaB</div>
    <div class="itemC" id="itemC">
    <p class="about-text">「Melody Map」の診断機能で、あなたにぴったりのカラオケやドライブ曲を見つけよう。 歌った楽曲はすぐにツイートでき、大切な曲の思い出を簡単に記録。曲選びで迷ったときも、すでに歌った曲を忘れそうなときも、当サイトがあなたの歌声と思い出をサポートします。</p>
    <p class="text-left-top">about</p>
    </div>
    <div class="itemD">
    <a href="<%= krks_rank_path %>">
    <%= image_tag "ranking.jpg", alt: "Description of Image" %>
    <span class="overlay-text">いいねランキング</span>
    </a>
    </div>
    <div class="itemE">
    <% if user_signed_in? %>
    <a href="<%= user_path(current_user.id) %>">
        <%= image_tag "book.jpg", alt: "Description of Image" %>
        <span class="show-text">マイページ</span>
    </a>
    <% end %>
</div>

    <div class="itemF">
      <a href="<%= kensaks_path %>">
          <%= image_tag "car-1957037_1280.jpg", alt: "Description of Image" %>
          <span class="kensak-text">診断機能2</span>
      </a>
      <div class="A-box">
        <p>ドライブの曲を選ぼう！</p>
     </div>
    </div>

    <div class="itemG" id="itemG">
    <a href="<%= sindans_path %>">
          <%= image_tag "mic-6127818_1280.jpg", alt: "Description of Image" %>
          <span class="sindan-text">診断機能1</span>
      </a>
      <div class="G-box">
        <p>カラオケの曲を選ぼう！</p>
     </div>
    </div>
    <div class="itemH" id="itemH">
    <p class="description-text">投稿サイトへ👇</p>
    
    <%= link_to new_krk_path, class: "btn btn-flat" do %>
      <span>PUSH</span>
      
    <% end %>
    </div>
  </div>

  <footer>  
    <small>© 2023 松前昂志</small>
  </footer>
</body>
