
<%= form_for @krk do |f| %>
  
  <div class="field">
    <%= f.label :歌の名前 %>
    <%= f.text_field :name, :size => 30 %>
  </div>




<div class="msr_pulldown_04">
    <p>ジャンル</p>
    <select name="msr_04_pulldown01">
      <option value="">選択してください</option>
      <option value="test1">洋楽</option>
      <option value="test2">J-pop</option>
      <option value="test3">ラップ</option>
      <option value="test4">k-pop</option>
      <option value="test5">ロック</option>
    </select>
  </div>
  <div class="msr_file_04">
    <p>画像</p>
    <div class="msr_filebox_04">
      <label for="file_photo04">画像を選択してください</label>
      <input type="file" id="file_photo04">
    </div>
  </div>
  <div class="msr_textarea_04">
    <label for="text">文章</label>
    <textarea></textarea>
  </div>
  <p class="msr_sendbtn_04">
    <input type="submit" value="Send">
  </p>
  <p class="msr_sendbtn_04 msr_sendbtn_04_disabled">
    <input type="submit" value="Send" disabled="disabled">
  </p>
</form>

<% end %>
<div class="krks-container">
    <% @krks.each do |t| %>
      <div class="krk">
      <%= image_tag t.image_url, size: "10x10" if t.image? %>
      <%= t.user.email %>
        <%= t.name %>
        <%= t.genre %>
        <%= t.about %>

        <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "編集する", edit_krk_path(t.id), class: "btn-small btn-edit" %>
        <%= link_to "削除する", krk_path(t.id), method: :delete, class: "btn-small btn-delete" %>

    <% end %> 
      
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
              <%= link_to krk_like_path(id: t.id, krk_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% else %>
              <%= link_to krk_likes_path(id: t.id, krk_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <%= t.created_at %>
        <%= link_to "詳細へ", krk_path(t.id), class: "btn btn-detail" %>
        
      </div>
    <% end %>
  </div>
<%= link_to "一覧に戻る", krks_path %>