<!DOCTYPE html>
<html>
  <head>
    <title>Melody</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/45c3850352.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if controller_name == "krks" && action_name == "index" %>
      <%= render 'layouts/special_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
      
    </main>
  </body>
</html>
